@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  height: 100vh;
}
.site-title h1 {
  font-weight: 400;
  font-family: "Lora", sans-serif;
  color: #009688;
  font-size: 2rem;
  margin: 0;
}
.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
  margin: 0;
  text-transform: capitalize;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.container-nav {
  display: flex;
  justify-content: space-between;
}

/* Navbar */
header {
  background-color: white;
  padding: 2em 0;
  box-shadow: 0 4px 8px 0 rgba(22, 22, 22, 0.19);
}
@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }
  header {
    text-align: center;
  }
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav li {
  margin-left: 2em;
}
nav a {
  text-decoration: none;
  color: #163172;
  font-weight: 600;
  text-transform: capitalize;
  padding: 2em 0;
}
nav a:hover,
nav a:focus {
  color: #009688;
}
.current-page {
  color: #009688;
}
.current-page:hover {
  color: #009688;
}
@media (max-width: 675px) {
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: 0.5em 0;
  }
}
/* Home page */
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.landing-text h3 {
  font-weight: 700;
  color: white;
  font-family: "Lora", sans-serif;
}
.landing-text h1 {
  font-size: 450%;
  font-weight: 700;
  color: white;
  font-family: "Lora", sans-serif;
  padding-bottom: 0;
  margin: 0 0;
}
@media (max-width: 600px) {
  .landing-text h1 {
    font-size: 260%;
  }
}
.btn-hire {
  background-color: #009688;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}
.btn-hire:hover,
.btn-hire:focus {
  background-color: #163172;
}
@media (max-width: 800px) {
  .btn-hire {
    padding: 8px 16px;
  }
}
#hr-main {
  width: 100px;
  height: 5px;
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 8px;
}

/* Feature */
#feature {
  width: 100%;
  padding: 70px 0;
}
.title-text {
  text-align: center;
  padding-bottom: 70px;
}
.title-text p{
  margin: auto;
  font-size: 20px;
  color: #009788;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.title-text p::after{
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#009688,#fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.title-text h1{
  font-size: 50px;
}
.feature-box {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.features {
  flex-basis: 50%;
}
.feature-img {
  flex-basis: 50%;
  margin: auto;
}
.feature-img img{
  width: 70%;
  border-radius: 10px;
}
.features h1{
  text-align: left;
  margin-bottom: 10px;
  font-weight: 500;
  color: rgb(88, 55, 55);
}
.features-desc {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.feature-icon .fa{
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: #009688;
  border: 1px solid #009688;
}
@media screen and (max-width: 770px){
  .title-text h1{
      font-size: 35px;
  }
  .features{
      flex-basis: 100%;
  }
  .feature-img {
      flex-basis: 100%;
  }
  .feature-img img{
      width: 100%;
  }
}

/* Service */

#service{
  width: 100%;
  padding: 70px 0;
  background: #efefef;
}
.service-box{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service{
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.single-service img{
  width: 100%;
  border-radius: 7px;
}
.service-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(0,0,0,0.5),#009688);
  opacity: 0;
  transition: 1s;
}
.single-service:hover .service-overlay{
  opacity: 1;
}
.service-desc {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: 1s;
}
hr {
  background: #fff;
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}
.service-desc p{
  font-size: 14px;
}
.single-service:hover .service-desc{
  bottom: 40%;
  opacity: 1;
}

/* Testimonial */

#testimonial {
  width: 100%;
  padding: 70px 0;
}
.title-text {
  text-align: center;
}
.title-text h1{
  font-size: 50px;
}
.testimonial-row{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.testimonial-col{
  flex-basis: 28%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 3px #00968814;
  cursor: pointer;
  transition: transform .5s;
}
.testimonial-col p{
  font-size: 14px;
}
.user{
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.user img{
  width: 40px;
  margin-right: 20px;
  border-radius: 3px;
}
.user-info .fa{
  margin-left: 10px;
  font-size: 20px;
  color: #009688;
}
.user-info small{
  color: #009688;
}
.testimonial-col:hover{
  transform: translateY(7px);
}

/* Gallery Section */
.gallery-header {
  text-align: center;
  padding: 32px;
}
.gallery-header h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #000000;
}
@media (max-width: 600px) {
  .gallery-header h1 {
    font-size: x-large;
  }
}
.gallery-header p {
  font-weight: 600;
  color: #181b2c;
}
.gallery-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 14px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 6px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Team Section */
.team-header {
  text-align: center;
  padding: 32px;
}
.team-header h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #000000;
}
@media (max-width: 600px) {
  .team h1 {
    font-size: x-large;
  }
}
.team p {
  font-weight: 600;
  color: #181b2c;
}
.team .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 14px;
}

.team .card {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 6px;
}
.team .card img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 50%;
}
.team .card h3 {
  font-weight: 600;
  font-family: "Lora", sans-serif;
  color: #181b2c;
  text-align: center;
  margin-bottom: 3px;
}
.team .card p {
  font-weight: 400;
  color: #181b2c;
  text-align: center;
}
@media (max-width: 800px) {
  .team .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .team .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* About Section */
.about {
  margin: 3rem 4rem;
  display: flex;
  flex-wrap: wrap;
}
.about-header {
  text-align: start;
}
@media (max-width: 576px) {
  .about-header {
    text-align: center;
  }
}
.about-header h1 {
  font-weight: 700;
  font-size: 3.2rem;
  color: #000000;
}
.about-content p {
  color: #181b2c;
}
/* Contact Section */
.contact h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #000000;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px 2em;
}
.flex-item-left {
  padding: 10px;
  flex: 50%;
}
.flex-item-left h4 {
  font-weight: 700;
  color: #181b2c;
}
.flex-item-left p {
  font-weight: 400;
  color: #181b2c;
}
.flex-item-right {
  padding: 10px;
  flex: 50%;
}
.flex-item-right form {
  margin: 10px;
}

.flex-item-right label {
  font-size: 18px;
}

.flex-item-right form input[type="text"],
form input[type="text"], select, textarea {
  font-weight: 400;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.flex-item-right button {
  background-color: #009688;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
}
.flex-item-right button:hover,
.flex-item-right button:focus {
  background-color: #163172;
  color: white;
}
@media (max-width: 800px) {
  .flex-item-left,
  .flex-item-right {
    flex: 100%;
  }
}

/* Footer */
footer {
  padding: 100px 0 20px;
  background: #efefef;
}

.footer-row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}

.footer-right {
  text-align: right;
}

.footer-right p {
  font-size: 16px;
  margin-left: 10px;
  color: #009688;
}

.footer-left p {
  font-size: 16px;
  color: #009688;
}

#right-btn {
  margin-right: 10px;
  color: #019587;
  font-size: 20px;
}

#i-btn {
  margin-left: 10px;
  color: #019587;
  font-size: 20px;
}

#website {
  text-decoration: none;
  color: #009688;
}

.social-media {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.social-media-links {
  font-size: 30px;
  color: #009688;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.social-media-links .fa:hover{
color: #ff9900;
}